@import "tailwindcss";
@plugin "daisyui";
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/autoplay";

.jacquard-24 {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
}
